<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="row">
                <div class="container">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2>Metawear Device Information</h2>
                        <p>
                            <h4>Device Connection</h4>
                            {{#unless metawearConnected}}
                                <button type="button" class="btn btn-success" {{action 'metawear_connect'}}>Connect</button>
                            {{else}}
                                <button type="button" class="btn btn-danger" {{action 'metawear_disconnect'}}>Disconnect</button>
                            {{/unless}}
                        </p>
                    </div>
                </div>
            </div>
            {{#if metawearConnected}}
                <div class="row">
                    <div class="container">
                        <div class="col-lg-8 col-lg-offset-2">
                            <h2>Metawear LED Control</h2>
                            <p>
                                <button type="button" class="btn btn-success" {{action 'metawear_turnOnLED'}}>Turn on LED </button>
                                <button type="button" class="btn btn-danger" {{action 'metawear_turnOffLED'}}>Turn off LED </button>
                            </p>
                        </div>
                    </div>
                </div>
            {{/if}}

            <div class="row">
                <div class="container">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2>Phone Accelerometer (500ms polling)</h2>
                        <p>
                            Acceleration x: {{a_x}}<br>
                            Acceleration y: {{a_y}}<br>
                            Acceleration z: {{a_z}}<br>
                            Acceleration timestamp: {{a_t}}<br>
                        </p>
                        {{c3-chart size=chartSize data=dataset}}
                        <button type="button" class="btn btn-success" {{action 'accelerometer_poll'}}>Add Random Test Point</button><br>
                    </div>
                </div>
            </div>
            <div class="mastfoot">
                <div class="inner">
                    <p>Copyright &copy; Matt Hale 2014</p>
                </div>
            </div>
        </div>
    </div>
</div>