<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden">
                            <a href="">Top</a>
                        </li>
                        <li>
                            <a href="#">Home</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    <div class="row">
                        <div class="container">
                            <div class="col-lg-8 col-lg-offset-2">
                                <h2>Metawear Device Information</h2>
                                <p>
                                    <h4>Device Connection</h4>
                                    {{#unless metawearConnected}}
                                        <button type="button" class="btn btn-success" {{action 'metawear_connect'}}>Connect</button>
                                    {{else}}
                                        <button type="button" class="btn btn-danger" {{action 'metawear_disconnect'}}>Disconnect</button>
                                    {{/unless}}
                                    
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                    {{#if metawearConnected}}
                        <div class="row">
                            <div class="container">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <h2>Metawear LED Control</h2>
                                    <p>
                                        <button type="button" class="btn btn-success" {{action 'metawear_turnOnLED'}}>Turn on LED </button>
                                        <button type="button" class="btn btn-danger" {{action 'metawear_turnOffLED'}}>Turn off LED </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {{/if}}

                    <div class="row">
                        <div class="container">
                            <div class="col-lg-8 col-lg-offset-2">
                                <h2>Phone Accelerometer (500ms polling)</h2>
                                <p>
                                    Acceleration x: {{a_x}}<br>
                                    Acceleration y: {{a_y}}<br>
                                    Acceleration z: {{a_z}}<br>
                                    Acceleration timestamp: {{a_t}}<br>
                                </p>
                                
                            </div>
                        </div>
                    </div>
                    
                    <div class="mastfoot">
                        <div class="inner">
                            <p>Copyright &copy; Matt Hale 2014</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>